<%- include("../partials/header") %>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
</form>
<%- include("../partials/footer") %>